<div class="form-group {{if error 'has-error'}}">
  <label for="{{inputId}}" class="control-label">{{yield}}</label>
  {{focused-textarea
      id=inputId
      class="form-control"
      value=value
      rows="3" cols="50"
      disabled=disabled
      }}
  <span class="help-block">{{error}}</span>
</div>
