<div class="row">

  <div class="col-xs-2 col-sm-1">
    {{#if back}}
      {{#link-to back class="icon icon-big pull-right" id="nav-back"}}{{fa-icon "chevron-left"}}{{/link-to}}
    {{else}}
      {{#link-to 'index' class="icon icon-big pull-right" id="nav-back"}}{{fa-icon "home"}}{{/link-to}}
    {{/if}}{{! back }}
  </div>

  <div class="col-xs-9 col-sm-10">
    <h1 class="page-title">{{title}}{{yield}}</h1>
  </div>

</div>
