{{#if hasEvents}}

  {{#if lifecycleEvent}}

    {{#if hasTransitioned}}

      {{#if lifecycle.isInExpDoing}}{{! just transitioned from exp.training to exp.doing }}

        {{#if emptySentences}}
          <h2>You just finished training!</h2>
          <p>Unfortunately there are no experiment sentences uploaded yet.{{#if hasCreditOrIsStaf}} Go {{link-to 'suggest' 'suggest'}} your own!{{#if isStaff}} (You're staff){{/if}}{{/if}}</p>
          <p>You can wait for sentences to appear, but if it's been like this for a long time don't hesitate to <a title="Contact on Twitter" href="https://twitter.com/gistrexp">contact</a> <a title="Email the lead dev" href="mailto:sl@mehho.net">the</a> <a title="File a bug on GitHub" href="https://github.com/interpretation-experiment/gistr-app/issues/new">developers</a>!</p>
        {{else}}{{! has sentences }}
          <h2>The experiment starts <strong>now</strong>!</h2>
          <p>You just finished training.</p>
          <button id="active-next" class="btn btn-warning" {{action "next"}}>On to the experiment</button>
        {{/if}}{{! empty sentences }}

      {{else if lifecycle.isInPlaying}}{{! just transitioned from exp.doing to playing }}

        <h2>You finished the experiment!</h2>
        {{#if currentProfile.prolificId}}
          <p>Please click the following completion button to show Prolific Academic that you finished the study.</p>
          <a href={{prolificCompletionUrl}} id="active-next" class="btn btn-warning">Go to study completion</a>
          <p>Afterwards, come back here to see your results!</p>
        {{else}}
          {{#if emptySentences}}
            <p>Unfortunately there are no other sentences to play with.{{#if hasCreditOrIsStaf}} Go {{link-to 'suggest' 'suggest'}} your own!{{#if isStaff}} (You're staff){{/if}}{{/if}}</p>
            <p>If you want to keep playing you can wait for sentences to appear, but if it's been like this for a long time don't hesitate to <a title="Contact on Twitter" href="https://twitter.com/gistrexp">contact</a> <a title="Email the lead dev" href="mailto:sl@mehho.net">the</a> <a title="File a bug on GitHub" href="https://github.com/interpretation-experiment/gistr-app/issues/new">developers</a>!</p>
          {{else}}{{! has sentences }}
            <button id="active-next" class="btn btn-primary" {{action "instruct"}}>Continue</button>
          {{/if}}{{! empty sentences }}
        {{/if}}{{! has prolific id }}

      {{/if}}{{! lifecycle state }}

    {{else}}{{! hasn't transitioned, so no work left for this state in this route }}

      {{! empty sentences is quiet here }}

      {{#if lifecycle.isInExpTraining}}{{! finished training trials, but incomplete lifecycle state }}

        <h2>You just finished training!</h2>
        <p>We need to know more about you before you can do the experiment.</p>
        {{link-to 'Complete your Profile' 'profile' class="btn btn-primary"}}

      {{! else if lifecycle.isInExpDoing: finished experiment trials, but incomplete lifecycle state. Fill this if we add conditions to exp.doing completion. }}
      {{/if}}{{! lifecycle state }}

    {{/if}}{{! transitioned }}

  {{else}}{{! no lifecycle event }}

    {{#if hasRhythmEvents}}

      <h2>Take a break!</h2>

      {{#if hasExpDoingBreak}}
        <p>You're doing great! Take a few seconds to relax before continuing.</p>
        {{#if emptySentences}}
          <p>Unfortunately there are no experiment sentences uploaded yet.{{#if hasCreditOrIsStaf}} Go {{link-to 'suggest' 'suggest'}} your own!{{#if isStaff}} (You're staff){{/if}}{{/if}}</p>
          <p>You can wait for sentences to appear, but if it's been like this for a long time don't hesitate to <a title="Contact on Twitter" href="https://twitter.com/gistrexp">contact</a> <a title="Email the lead dev" href="mailto:sl@mehho.net">the</a> <a title="File a bug on GitHub" href="https://github.com/interpretation-experiment/gistr-app/issues/new">developers</a>!</p>
        {{else}}{{! has sentences }}
          <button id="active-next" class="btn btn-primary" {{action "next"}}>Continue</button>
        {{/if}}{{! empty sentences }}

      {{else if hasPlayingDiffBreak}}{{! has exp.doing break }}

        <p>Look at how well you're doing:</p>
        {{#each lastSentences as |sentence|}}
          <blockquote>{{diff-sentences sentence1=sentence.parent sentence2=sentence}}</blockquote>
        {{/each}}
        {{#if emptySentences}}
          <p>Unfortunately there are no other sentences to play with.{{#if hasCreditOrIsStaf}} Go {{link-to 'suggest' 'suggest'}} your own!{{#if isStaff}} (You're staff){{/if}}{{/if}}</p>
          <p>If you want to keep playing you can wait for sentences to appear, but if it's been like this for a long time don't hesitate to <a title="Contact on Twitter" href="https://twitter.com/gistrexp">contact</a> <a title="Email the lead dev" href="mailto:sl@mehho.net">the</a> <a title="File a bug on GitHub" href="https://github.com/interpretation-experiment/gistr-app/issues/new">developers</a>!</p>
        {{else}}{{! has sentences }}
          <button id="active-next" class="btn btn-primary" {{action "next"}}>Keep playing</button>
        {{/if}}{{! empty sentences }}

      {{else if hasPlayingExplorationBreak}}{{! has playing diff-break }}

        <p>Want to {{link-to 'have a peak' 'explore.tree' lastSentence.tree}} at the tree you just participated in?</p>
        {{#if emptySentences}}
          <p>Unfortunately there are no other sentences to play with.{{#if hasCreditOrIsStaf}} Go {{link-to 'suggest' 'suggest'}} your own!{{#if isStaff}} (You're staff){{/if}}{{/if}}</p>
          <p>If you want to keep playing you can wait for sentences to appear, but if it's been like this for a long time don't hesitate to <a title="Contact on Twitter" href="https://twitter.com/gistrexp">contact</a> <a title="Email the lead dev" href="mailto:sl@mehho.net">the</a> <a title="File a bug on GitHub" href="https://github.com/interpretation-experiment/gistr-app/issues/new">developers</a>!</p>
        {{else}}{{! has sentences }}
          <button id="active-next" class="btn btn-primary" {{action "next"}}>Keep playing</button>
        {{/if}}{{! empty sentences }}
      {{/if}}{{! has playing exploration-break }}

    {{/if}}{{! rhythm events }}

  {{/if}}{{! lifecycle event }}

{{else}}{{! no events, only state infos }}

  {{#if hasStateWorkLeft}}

    {{#if emptySentences}}

      <h2>Oops, no more sentences!</h2>
      <p>It seems you've worked real hard and used up all our sentences!</p>
      <p>You can wait for more sentences to appear{{#if hasCreditOrIsStaff}} or go {{link-to 'suggest' 'suggest'}} your own{{#if isStaff}} (you're staff){{/if}}{{/if}}.</p>
      <p>If it's been like this for a long time, don't hesitate to <a title="Contact on Twitter" href="https://twitter.com/gistrexp">contact</a> <a title="Email the lead dev" href="mailto:sl@mehho.net">the</a> <a title="File a bug on GitHub" href="https://github.com/interpretation-experiment/gistr-app/issues/new">developers</a>!</p>

    {{/if}}

  {{else}}{{! no work left }}

    {{! empty sentences is quiet here }}

    {{#if lifecycle.isInExpTraining}}{{! finished training trials, but incomplete lifecycle state }}

      <h2>Done with your training!</h2>
      <p>We need to know more about you before you can do the experiment.</p>
      {{link-to 'Complete your Profile' 'profile' class="btn btn-primary"}}

    {{! else if lifecycle.isInExpDoing: finished experiment trials, but incomplete lifecycle state. Fill this if we add conditions to exp.doing completion. }}
    {{/if}}{{! lifecycle state }}

  {{/if}}{{! has work left }}

{{/if}}{{! has events }}
