{{#if hasEvents}}

  {{#if lifecycleEvent}}

    {{#if hasTransitioned}}

      {{#if lifecycle.isInExpDoing}}{{! just transitioned from exp.training to exp.doing }}

        <h2>Done with your training</h2>
        {{#if emptySentences}}
          <p>Unfortunately there are no experiment sentences uploaded yet.</p>
          <p>You can wait for sentences to appear, but if it's been like this for a long time don't hesitate to <a title="Contact on Twitter" href="https://twitter.com/gistrexp">contact</a> <a title="Email the lead dev" href="mailto:sl@mehho.net">the</a> <a title="File a bug on GitHub" href="https://github.com/interpretation-experiment/gistr-app/issues/new">developers</a>!</p>
        {{else}}{{! has sentences }}
          <button class="btn btn-primary" {{action "next"}}>On to the epxeriment</button>
        {{/if}}{{! empty sentences }}

      {{else if lifecycle.isInPlaying}}{{! just transitioned from exp.doing to playing }}

        <h2>Done with the experiment!</h2>
        TODO: if prolific flavour, add Prolific Academic link. If you keep playing, it's on the home page.
        {{#if emptySentences}}
          <p>Unfortunately there are no other sentences to play with.</p>
          <p>If you want to keep playing you can wait for sentences to appear, but if it's been like this for a long time don't hesitate to <a title="Contact on Twitter" href="https://twitter.com/gistrexp">contact</a> <a title="Email the lead dev" href="mailto:sl@mehho.net">the</a> <a title="File a bug on GitHub" href="https://github.com/interpretation-experiment/gistr-app/issues/new">developers</a>!</p>
        {{else}}{{! has sentences }}
          <button class="btn btn-primary" {{action "next"}}>Keep playing</button>
        {{/if}}{{! empty sentences }}

      {{/if}}{{! lifecycle state }}

    {{else}}{{! hasn't transitioned, so no work left for this state in this route }}

      {{! empty sentences is quiet here }}

      {{#if lifecycle.isInExpTraining}}{{! finished training trials, but incomplete lifecycle state }}

        <h2>Done with your training</h2>
        <p>We need to know more about you before you can do the experiment.</p>
        {{link-to 'Complete your Profile' 'profile' class="btn btn-primary"}}

      {{! else if lifecycle.isInExpDoing: finished experiment trials, but incomplete lifecycle state. Fill this if we add conditions to exp.doing completion. }}
      {{/if}}{{! lifecycle state }}

    {{/if}}{{! transitioned }}

  {{else}}{{! no lifecycle event }}

    {{#if hasRhythmEvents}}

      <h2>Take a break!</h2>

      {{#if hasExpDoingBreak}}
        <p>You're doing great! Take a few seconds to relax before continuing.</p>
        <button class="btn btn-primary" {{action "next"}}>Continue</button>
      {{/if}}{{! has exp.doing break }}

      {{#if hasPlayingDiffBreak}}
        TODO: add diff to show how well you did
        <button class="btn btn-primary" {{action "next"}}>Keep playing</button>
      {{/if}}{{! has playing diff-break }}

      {{#if hasPlayingExplorationBreak}}
        <p>Want to {{link-to 'have a peak' 'explore.tree' lastSentence.tree}} at the tree you just participated in?</p>
        <button class="btn btn-primary" {{action "next"}}>Keep playing</button>
      {{/if}}{{! has playing exploration-break }}

    {{/if}}{{! rhythm events }}

  {{/if}}{{! lifecycle event }}

{{else}}{{! no events, only state infos }}

  {{#if hasStateWorkLeft}}

    {{#if emptySentences}}

      <h2>Oops, no more sentences!</h2>
      <p>It seems you've worked real hard and used up all our sentences!</p>
      <p>You can wait for more sentences to appear{{#if currentProfile.suggestionCredit}} or go {{link-to 'suggest' 'suggest'}} your own{{/if}}.</p>
      <p>If it's been like this for a long time, don't hesitate to <a title="Contact on Twitter" href="https://twitter.com/gistrexp">contact</a> <a title="Email the lead dev" href="mailto:sl@mehho.net">the</a> <a title="File a bug on GitHub" href="https://github.com/interpretation-experiment/gistr-app/issues/new">developers</a>!</p>

    {{/if}}

  {{else}}{{! no work left }}

    {{! empty sentences is quiet here }}

    {{#if lifecycle.isInExpTraining}}{{! finished training trials, but incomplete lifecycle state }}

      <h2>Done with your training</h2>
      <p>We need to know more about you before you can do the experiment.</p>
      {{link-to 'Complete your Profile' 'profile' class="btn btn-primary"}}

      {{! else if lifecycle.isInExpDoing: finished experiment trials, but incomplete lifecycle state. Fill this if we add conditions to exp.doing completion. }}

    {{/if}}{{! lifecycle state }}

  {{/if}}{{! has work left }}

{{/if}}{{! has events }}
