<h3>Some writing instructions</h3>

<form>

  {{async-textarea
      value=text
      error=errors.text
      inputId="inputText"
      disabled=isUploading}}

  {{#unless hasMissingTokens}}
    {{#if isLanguageMismatch}}
      <p>This looks like <strong>{{guessedLanguageLabel}}</strong>, but you should be writing in <strong>{{parentLanguageLabel}}</strong>! &mdash; <button class="btn btn-default" {{action "manuallySetLanguage"}}>No, it's <strong>{{parentLanguageLabel}}</strong></button></p>
    {{/if}}
  {{/unless}}

  <div {{bind-attr class=':form-group errors.non_field_errors:has-error'}}>
    <span class="help-block">{{errors.non_field_errors}}</span>
    {{#if hasMissingTokens}}
      {{input type='submit' class="btn btn-primary" disabled="true" value="Continue"}} Type at least {{minTokens}} words{{#if text}} &mdash; <strong>{{tokensLeft}} left</strong>{{/if}}
    {{else}}
      {{#if isLanguageMismatch}}
        {{input type='submit' class="btn btn-primary" disabled="true" value="Continue"}}
      {{else}}
        {{async-button action="uploadSentence" class="btn btn-primary" default="Continue" pending="Uploading..."}}
      {{/if}}
    {{/if}}
  </div>

</form>

<p>{{sl-progress-bar value=progress}}</p>
