{{#if showIntro}}
  {{#if lifecycle.isInExp}}
    {{computed-intro-js
        getSteps=expIntroSteps
        start-if=true
        on-change="expIntroChange"
        on-complete="expIntroDone"
        on-exit="expIntroDone"}}
  {{else if lifecycle.isInPlaying}}
    {{computed-intro-js
        getSteps=playIntroSteps
        start-if=true
        on-change="playIntroChange"
        on-complete="playIntroDone"
        on-exit="playIntroDone"}}
  {{/if}}
{{/if}}{{! showIntro }}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="instructions instructions-play">
      {{#each images as |image|}}
        <img
            class="{{if image.hidden 'hidden'}}"
            id="instruction-{{image.name}}"
            src="{{image.source}}"
            title="{{image.title}}" />
      {{/each}}
    </div>
  </div>
</div>
<div class="center">
  <h1>Ready to go?</h1>
  <button class="btn btn-default" {{action "showIntro"}}>Play instructions again</button>
  {{#sl-tooltip title="Press Ctrl+Enter!"}}<button class="btn btn-primary" {{action "next"}}>Start</button>{{/sl-tooltip}}
</div>
