<div {{bind-attr class=':form-group error:has-error'}}>
  <label {{bind-attr for="inputId"}} class="control-label">{{yield isManual}}</label>
  <div class="row">
    <div {{bind-attr class="isManual:col-sm-10:col-sm-12"}}>
      <p>{{sl-select id=inputId content=lang.supportedLanguages value=language optionValuePath="name" optionLabelPath="label" placeholder=placeholder disabled=disabled}}</p>
    </div>
    {{#if isManual}}
      <div class="col-sm-2"><button class="btn btn-default" {{action "setAutomatic"}}>Detect</button></div>
    {{/if}}
  </div>
  <span class="help-block">{{error}}</span>
</div>
