<p class="sentence-details">{{title}}{{yield}} #{{sentence.id}} <span class="pull-right">Created {{sl-date-time value=sentence.created timezone="Europe/Paris" format="relative"}} <em>by</em> {{sentence.profile.userUsername}}</span></p>
<blockquote>{{sentence.text}}</blockquote>
