<p class="sentence-details">{{title}}{{yield}} {{sentence.profile.userUsername}} created {{sl-date-time value=sentence.created timezone="Europe/Paris" format="relative"}} <span class="pull-right">#{{sentence.id}}</span></p>
{{diff-sentences sentence1=sentence.parent sentence2=sentence}}
<blockquote>{{sentence.text}}</blockquote>
