{{#if (can 'create sentences')}}

  <form>

    {{#nlp-textarea
        value=text
        error=errors.text
        inputId="inputText"
        disabled=isUploading
        info="updateMetaText"
        }}
        Type in a new text:
    {{/nlp-textarea}}

    {{#select-language
        error=errors.language
        inputId="inputLanguage"
        guess=guessedLanguage
        disabled=isUploading
        placeholder="Select the text's language"
        languageSelected="updateLanguage"
        as |manual|
        }}
      Language of the text
      {{#if manual}}
        (manually set):
      {{else}}
        {{#if enoughTokens}}(detected){{else}}(type at least {{#unless text}}{{shaping.minTokens}}{{else}}{{tokensLeft}} more{{/unless}} words for auto-detection){{/if}}:
      {{/if}}
    {{/select-language}}

    {{#if currentUser.isStaff}}
      <div class="form-group {{if errors.bucket 'has-error'}}">
        <label class="control-label">Bucket</label>
        <div>
          {{#each lifecycle.buckets as |bucketDetails|}}
            <label class="radio-inline {{if isUploading 'disabled'}}">
              {{radio-button value=bucketDetails.name checked=bucket disabled=isUploading}} {{bucketDetails.label}}
            </label>
          {{/each}}
        </div>
        <span class="help-block">{{errors.bucket}}</span>
      </div>
    {{/if}}

    <div class="form-group {{if errors.non_field_errors 'has-error'}}">
      <span class="help-block">{{errors.non_field_errors}}</span>
      {{#if enoughTokens}}
        {{async-button action="uploadSentence" class="btn btn-primary" default="Continue" pending="Uploading..."}}
      {{else}}
        {{#sl-tooltip title=tokensCountInfo}}{{input type='submit' class="btn btn-primary" disabled="true" value="Continue"}}{{/sl-tooltip}}
      {{/if}}
    </div>

  </form>

{{else}}

  <p>You have no credit left to suggest new texts! {{link-to 'Interpret' 'play'}} a few texts to get more credit.</p>

{{/if}}
