{{#if (can 'create sentences')}}

  <form>

    {{#nlp-textarea
        value=text
        error=errors.text
        inputId="inputText"
        disabled=isUploading
        info="updateMetaText"
        }}
        Type in a new sentence{{#unless enoughTokens}}, with at least {{#unless text}}{{minTokens}}{{else}}{{tokensLeft}} more{{/unless}} words{{/unless}}:
    {{/nlp-textarea}}

    {{#select-language
        error=errors.language
        inputId="inputLanguage"
        guess=guessedLanguage
        disabled=isUploading
        placeholder="Select the sentence's language"
        languageSelected="updateLanguage"
        as |manual|
        }}
      Language of the sentence
      {{#if manual}}
        (manually set):
      {{else}}
        {{#if enoughTokens}}(detected){{else}}(type at least {{#unless text}}{{minTokens}}{{else}}{{tokensLeft}} more{{/unless}} words for auto-detection){{/if}}:
      {{/if}}
    {{/select-language}}

    <div class="form-group {{if errors.non_field_errors 'has-error'}}">
      <span class="help-block">{{errors.non_field_errors}}</span>
      {{#if enoughTokens}}
        {{async-button action="uploadSentence" class="btn btn-primary" default="Continue" pending="Uploading..."}}
      {{else}}
        {{input type='submit' class="btn btn-primary" disabled="true" value="Continue"}} Type at least {{#unless text}}{{minTokens}}{{else}}{{tokensLeft}} more{{/unless}} words
      {{/if}}
    </div>

  </form>

{{else}}

  <p>You have no credit left to suggest new sentences! {{link-to 'Interpret' 'play'}} a few sentences to get more credit.</p>

{{/if}}
