{{#if (can 'create sentence')}}

  <form>

    {{#nlp-textarea
        value=text
        error=errors.text
        inputId="inputText"
        disabled=isUploading
        info="updateMetaText"
        }}
      Type in your new sentence:
    {{/nlp-textarea}}

    <div {{bind-attr class=':form-group errors.language:has-error'}}>
      <label for="inputLanguage" class="control-label">
        Language of the sentence
        {{#if isLanguageManual}}
          (manually set)
        {{else}}
          {{#if enoughTokens}}(detected){{else}}(type more words for auto-detection){{/if}}
        {{/if}}
      </label>
      {{sl-select id="inputLanguage" content=lang.supportedLanguages value=userLanguage optionValuePath="name" optionLabelPath="label" placeholder="Select the sentence's language" disabled=isUploading}}
      <span class="help-block">{{errors.language}}</span>
    </div>

    <div {{bind-attr class=':form-group errors.non_field_errors:has-error'}}>
      <span class="help-block">{{errors.non_field_errors}}</span>
      {{#if enoughTokens}}
        {{async-button action="uploadSentence" class="btn btn-primary" default="Continue" pending="Uploading..."}}
      {{else}}
        {{input type='submit' class="btn btn-primary" disabled="true" value="Continue"}} Type at least {{minTokens}} words{{#if text}} &mdash; <strong>{{tokensLeft}} left</strong>{{/if}}
      {{/if}}
    </div>

  </form>

{{else}}

  <p>You have no credit left to suggest new sentences! {{link-to 'Interpret' 'play'}} a few sentences to get more credit.</p>

{{/if}}
