<div class="email-card">

  <span class="email">{{email.email}}</span>

  {{#if email.primary}}<span class="label label-success">Primary</span>{{/if}}
  {{#unless email.verified}}<span class="label label-default">Unverified</span>{{/unless}}

  <a href="#" class="pull-right icon {{if isWorking 'working'}}" {{action "remove"}}><span class="glyphicon glyphicon-trash"></span></a>

  {{#if email.verified}}
    {{#unless email.primary}}<span class="pull-right"><button {{action "setPrimary"}} class="btn btn-xs btn-default" disabled={{isWorking}}>Set as primary</button></span>{{/unless}}
  {{else}}
    <span class="pull-right">{{async-button action="verify" class="btn btn-xs btn-default" default="Send verification email" pending="Sending verification email..." disabled=isWorking}}</span>
  {{/if}}{{! email.verified }}

</div>
