{{#if isProfileIncomplete}}
  {{#sl-alert theme="warning"}}
    Please complete your profile!
    <ul>
      {{#each profileErrors as |error|}}<li>{{error}}</li>{{/each}}
    </ul>
  {{/sl-alert}}
{{/if}}

{{#if showOtherInfo}}{{#sl-alert dismissable=true dismiss="toggleOtherInfo"}}
  <h3>Support for Mothertongues</h3>
  <p>As researchers, there are only so many languages we can analyse. If you can't find your mothertongue in the list, choose <mark>Other</mark> and the game will be in English for you.</p> <p>If you want to add support for a new language, please <a href='https://github.com/interpretation-experiment/gistr-app/issues/new'>let us know</a>!</p>
{{/sl-alert}}{{/if}}
{{#if showBilingualInfo}}{{#sl-alert dismissable=true dismiss="toggleBilingualInfo"}}
  <h3>Bilingual (or more!)</h3>
  <p>If you have more than one mothertongue, just choose the one you're the most comfortable with (if they're all the same, pick any!)</p>
{{/sl-alert}}{{/if}}

<form class="form-horizontal">

  <div class="form-group {{if errors.mothertongue 'has-error'}}">
    <label for="inputMothertongue" class="col-sm-2 control-label">Mothertongue</label>
    <div class="col-sm-4">
      {{sl-select id="inputMothertongue" content=lang.supportedLanguages value=mothertongue optionValuePath="name" optionLabelPath="label" placeholder="Select your Mothertongue" disabled=isUploading}}
      <span class="help-block">{{errors.mothertongue}}</span>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-link" {{action "toggleOtherInfo"}}>Can't find your language?</button>
      <button class="btn btn-link" {{action "toggleBilingualInfo"}}>Bilingual?</button>
    </div>
  </div>

  <div class="form-group {{if errors.non_field_errors 'has-error'}}">
    <div class="col-sm-offset-2 col-sm-10">
      <span class="help-block">{{errors.non_field_errors}}</span>
      {{async-button action="uploadProfile" class="btn btn-primary" default="Save" pending="Saving..."}}
      {{#if justSaved}}<span class="label label-success">Saved!</span>{{/if}}
    </div>
  </div>

</form>
