{{#if hasEvents}}
  {{#if hasTransitioned}}
    {{#sl-alert theme="success" dismissable=true}}
      <h3>Profile complete!</h3>
      <p>You can {{link-to 'get started on the experiment' 'play'}} right now!</p>
    {{/sl-alert}}
  {{else}}
    {{#unless hasStateWorkLeft}}
      {{#sl-alert theme="success" dismissable=true}}
        <h3>Profile complete!</h3>
        <p>You can {{link-to 'get started on your training' 'play'}} right now!</p>
      {{/sl-alert}}
    {{/unless}}{{! has state work left }}
  {{/if}}{{! has transitioned }}
{{/if}}{{! has events }}

{{#if isProfileIncomplete}}
  {{#sl-alert theme="warning"}}
    Please complete your profile!
    <ul>
      {{#each profileErrors as |error|}}<li>{{error}}</li>{{/each}}
    </ul>
  {{/sl-alert}}
{{/if}}

{{#if currentProfile}}
  <div class="well">
    <h2>Questionnaire
      &mdash;
      {{#if currentProfile.questionnaireDone}}
        {{#sl-tooltip title="Your answers are saved and can't be changed. If you think you made a mistake, contact the developers with the email address at the bottom of the home page."}}
          <span class="icon-med done">{{fa-icon "check"}}</span>
          Done
        {{/sl-tooltip}}
      {{else}}
        Not yet done
        {{link-to 'Fill the questionnaire' 'profile.profile.questionnaire' class="btn btn-primary"}}
      {{/if}}
    </h2>
  </div>

  <div class="well">
    <h2>Word span test
      &mdash;
      {{#if currentProfile.wordSpanDone}}
        {{#sl-tooltip title="Finish the experiment to see how you compare to the other participants!"}}
          <span class="icon-med done">{{fa-icon "check"}}</span>
          About {{h-pluralize roundedSpan 'word'}}
        {{/sl-tooltip}}
      {{else}}
        Not yet done
        {{link-to 'Pass the test' 'profile.profile.word-span' class="btn btn-primary"}}
      {{/if}}
    </h2>
  </div>
{{/if}}

<div class="well">
  <h2>Mothertongue
    {{#unless changeMothertongue}}
      &mdash;
      {{#sl-tooltip title="Click to change"}}<span class="changeable" {{action "changeMothertongue"}}>{{profileMothertongueLabel}}</span>{{/sl-tooltip}}
      {{#if justSaved}}<small><span class="label label-success">Saved!</span></small>{{/if}}
    {{else}}
      <button class="btn btn-link" {{action "toggleOtherInfo"}}>Can't find your language?</button>
      <button class="btn btn-link" {{action "toggleBilingualInfo"}}>Bilingual?</button>
    {{/unless}}
  </h2>

  {{#if changeMothertongue}}
    {{#if showOtherInfo}}{{#sl-alert dismissable=true dismiss="toggleOtherInfo"}}
      <h3>Support for Mothertongues</h3>
      <p>As researchers, there are only so many languages we can analyse. If you can't find your mothertongue in the list, choose <mark>Other</mark> and the game will be in English for you.</p> <p>If you want to add support for a new language, please <a href='https://github.com/interpretation-experiment/gistr-app/issues/new'>let us know</a>!</p>
    {{/sl-alert}}{{/if}}
    {{#if showBilingualInfo}}{{#sl-alert dismissable=true dismiss="toggleBilingualInfo"}}
      <h3>Bilingual (or more!)</h3>
      <p>If you have more than one mothertongue, just choose the one you're the most comfortable with (if they're all the same, pick any!)</p>
    {{/sl-alert}}{{/if}}

    {{#if currentProfile.mothertongue}}{{#sl-alert theme="danger"}}
      <p>Careful! If you already started the experiment, changing your mothertongue will most likely invalidate your results!</p>
    {{/sl-alert}}{{/if}}

    <form>

      <div class="form-group {{if errors.mothertongue 'has-error'}} {{if justSaved 'has-success'}}">
        <label for="inputMothertongue" class="control-label">Mothertongue</label>
        {{sl-select id="inputMothertongue" content=lang.supportedLanguages value=mothertongue optionValuePath="name" optionLabelPath="label" placeholder="Select your Mothertongue" disabled=isUploading}}
        <span class="help-block">{{errors.mothertongue}}</span>
      </div>

      <div class="form-group {{if errors.non_field_errors 'has-error'}}">
        <span class="help-block">{{errors.non_field_errors}}</span>
        {{#if currentProfile.mothertongue}}
          <button class="btn btn-default" {{action "cancelChangeMothertongue"}}>Cancel</button>
          {{async-button action="uploadProfile" class="btn btn-primary" default="Update mothertongue" pending="Updating mothertongue..."}}
        {{else}}
          {{async-button action="uploadProfile" class="btn btn-primary" default="Set mothertongue" pending="Setting mothertongue..."}}
        {{/if}}{{! currentProfile.mothertongue }}
      </div>

    </form>
  {{/if}}{{! changeMothertongue }}
</div>

{{#if currentProfile.prolificId}}
<div class="well">
  <h2>Prolific Academic ID
    &mdash;
    <span class="badge">{{currentProfile.prolificId}}</span>
    {{#if lifecycle.isInPlaying}}
      <a href="{{prolificCompletionUrl}}" class="btn btn-primary">Go to study completion again</a>
    {{/if}}
  </h2>
</div>
{{/if}}
