<div class="well">
  <h2>General questionnaire</h2>
  <p>We need to know a bit about who you before you start. <strong>This information is kept private and will only be used for the purposes of the experiment</strong>.</p>

  <h3>About you</h3>

  <form class="form-inline">
    <div class="form-group {{if errors.age 'has-error'}}">
      <label for="inputAge" class="control-label">Age</label>
      {{input id="inputAge" class="form-control" value=age disabled=isUploading}}
      <span class="help-block">{{errors.age}}</span>
    </div>
  </form>

  <form>
    <div class="form-group {{if errors.gender 'has-error'}}">
      <label class="control-label">Gender</label>
      <div>
        {{#each questionnaireChoices.genders as |genderDetails|}}
          <label class="radio-inline {{if isUploading 'disabled'}}">
            {{radio-button value=genderDetails.name checked=gender disabled=isUploading}} {{genderDetails.label}}
          </label>
        {{/each}}
        <span class="help-block">{{errors.gender}}</span>
      </div>
    </div>

    <div class="form-group {{if errors.naive 'has-error'}}">
      <div class="checkbox {{if isUploading 'disabled'}}">
        <label>
          {{input type="checkbox" checked=notNaive disabled=isUploading}} I know what this experiment is about.{{#unless showNaiveDetail}} <a href="#" {{action "toggleNaiveDetail"}}>I can tell you more.</a>{{/unless}}
        </label>
      </div>
      <span class="help-block">{{errors.naive}}</span>
    </div>

    {{#if showNaiveDetail}}
      <div class="form-group">
        <label for="inputNaiveDetail" class="control-label">You know the experiment, tell us more</label>
        {{focused-textarea id="inputNaiveDetail" class="form-control" value=naiveDetail disabled=isUploading rows="1" autoresize=true}}
        <a href="#" {{action "toggleNaiveDetail"}}>No, forget about this.</a>
      </div>
    {{/if}}

    <h3>What kind of activity do you do daily?</h3>

    {{#unless showIscoFreetext}}
      <p>You might have to explore the lists a little to find your activity.</p>

      <div class="form-group {{if errors.iscoMajor 'has-error'}}">
        <label for="inputIscoMajor" class="control-label">General activity you do daily</label>
        {{sl-select id="inputIscoMajor" content=questionnaireChoices.iscoMajors value=iscoMajor optionValuePath="name" optionLabelPath="label" placeholder="Select your general type of activity" disabled=isUploading}}
        <span class="help-block">{{errors.iscoMajor}}</span>
      </div>

      <div class="form-group {{if errors.iscoSubmajor 'has-error'}}">
        <label for="inputIscoSubmajor" class="control-label {{unless iscoMajor 'disabled'}}">More specifically</label>
        {{#if iscoMajor}}
          {{sl-select id="inputIscoSubmajor" content=iscoSubmajorChoices value=iscoSubmajor optionValuePath="name" optionLabelPath="label" placeholder="Select a more detailed description" disabled=isUploading}}
        {{else}}
          {{sl-select placeholder="Select your general daily activity first" disabled=true}}
        {{/if}}{{! iscoMajor }}
        <span class="help-block">{{errors.iscoSubmajor}}</span>
      </div>

      <div class="form-group {{if errors.iscoMinor 'has-error'}}">
        <label for="inputIscoMinor" class="control-label {{unless iscoSubmajor 'disabled'}}">Still more specifically</label>
        {{#if iscoSubmajor}}
          {{sl-select id="inputIscoMinor" content=iscoMinorChoices value=iscoMinor optionValuePath="name" optionLabelPath="label" placeholder="Last details" disabled=isUploading}}
        {{else if iscoMajor}}
          {{sl-select placeholder="Select the above detailed description first" disabled=true}}
        {{else}}
          {{sl-select placeholder="Select your general daily activity first" disabled=true}}
        {{/if}}
        <span class="help-block">{{errors.iscoMinor}}</span>
      </div>

      <p><a href="#" {{action "toggleIscoFreetext"}}>I can't find my way in these categories, let me tell you more.</a></p>

    {{else}}{{! show isco freetext}}

      <div class="form-group">
        <label for="inputIscoFreetext" class="control-label">What you do doesn't fit in the categories, tell us what it is</label>
        {{focused-textarea id="inputIscoFreetext" class="form-control" value=iscoFreetext disabled=isUploading rows="1" autoresize=true}}
        Or <a href="#" {{action "toggleIscoFreetext"}}>go back to the categories</a>.
      </div>

    {{/unless}}{{! show isco freetext}}

    <div class="form-group {{if errors.non_field_errors 'has-error'}}">
      <span class="help-block">{{errors.non_field_errors}}</span>
      {{async-button action="upload" class="btn btn-primary" default="Send answers" pending="Sending answers..."}}
    </div>

  </form>

</div>
