<div class="well">
  <h2>General questionnaire</h2>
  <p>We need to know a bit about who you before you start. <strong>This information is kept private and will only be used for the purposes of the experiment</strong>.</p>

  <h3>About you</h3>

  <form class="form-inline">
    <div class="form-group {{if errors.age 'has-error'}}">
      <label for="inputAge" class="control-label">Age</label>
      {{input id="inputAge" class="form-control" value=age disabled=isUploading}}
      <span class="help-block">{{errors.age}}</span>
    </div>
  </form>

  <form>
    <div class="form-group {{if errors.gender 'has-error'}}">
      <label class="control-label">Gender</label>
      <div>
        {{#each questionnaireChoices.genders as |genderDetails|}}
          <label class="radio-inline {{if isUploading 'disabled'}}">
            {{radio-button value=genderDetails.name checked=gender disabled=isUploading}} {{genderDetails.label}}
          </label>
        {{/each}}
        <span class="help-block">{{errors.gender}}</span>
      </div>
    </div>

    <div class="form-group {{if errors.naive 'has-error'}}">
      <div class="checkbox {{if isUploading 'disabled'}}">
        <label>
          {{input type="checkbox" checked=notNaive disabled=isUploading}} I know what this experiment is about.{{#unless showNaiveDetail}} <a href="#" {{action "toggleNaiveDetail"}}>I can tell you more.</a>{{/unless}}
        </label>
      </div>
      <span class="help-block">{{errors.naive}}</span>
    </div>

    {{#if showNaiveDetail}}
      <div class="form-group">
        <label for="inputNaiveDetail" class="control-label">You know the experiment, tell us more</label>
        {{focused-textarea id="inputNaiveDetail" class="form-control" value=naiveDetail disabled=isUploading rows="1" autoresize=true}}
        <a href="#" {{action "toggleNaiveDetail"}}>No, forget about this.</a>
      </div>
    {{/if}}

    <h3>What you do</h3>

    <p>We'd like to know what type of job you work in, or what is your <strong>main daily activity</strong>.</p>

    <div class="form-group {{if errors.jobType 'has-error'}}">
      <label for="inputJobType" class="control-label">What is your general type of profession or main daily activity?</label>
      {{sl-select id="inputJobType" content=questionnaireChoices.jobTypes value=jobType optionValuePath="name" optionLabelPath="label" placeholder="Select your type of job or daily activity" disabled=isUploading}}
      <span class="help-block">{{errors.jobType}}</span>
    </div>

    <div class="form-group {{if errors.jobFreetext 'has-error'}}">
      <label for="inputJobFreetext" class="control-label">Please describe your profession or main daily activity. You can use several sentences if necessary.</label>
      {{textarea id="inputJobFreetext" class="form-control" value=jobFreetext disabled=isUploading rows="1" autoresize=true}}
      <span class="help-block">{{errors.jobFreetext}}</span>
    </div>

    <div class="form-group {{if errors.non_field_errors 'has-error'}}">
      <span class="help-block">{{errors.non_field_errors}}</span>
      {{async-button action="upload" class="btn btn-primary" default="Send answers" pending="Sending answers..."}}
    </div>

  </form>

</div>
