<h2 class="row">
  <div class="col-xs-8"><span id="word-span-title">Word span test</span></div>
  <div class="col-xs-4"><small id="word-span-progress">
    Trial {{trial}} out of {{shaping.wordSpanTrialsCount}}
    {{sl-progress-bar value=testProgress striped=true}}
  </small></div>
</h2>

<div class="well">
  {{#if isInInstructions}}
    {{word-span-instructions
        next="read"}}

  {{else if isInReading}}
    {{word-span-read
        words=trialWords
        next="distract"}}

  {{else if isInDistracting}}
    {{word-span-distract
        next="write"}}

  {{else if isInWriting}}
    {{word-span-write
        save="processWords"}}

  {{else if isInFinished}}
    {{word-span-finished
        span=span}}

  {{/if}}
</div>
