<h2 class="row">
<div class="col-xs-8"><span id="word-span-title">Word span test{{#if isPhaseTraining}} &mdash; Training{{/if}}</span></div>
  <div class="col-xs-4"><small id="word-span-progress">
    {{#if isPhaseTraining}}
      Completed {{h-pluralize trial 'training trial'}} out of {{phaseCount}}
    {{else}}
      Completed {{h-pluralize trial 'trial'}} out of {{phaseCount}}
    {{/if}}
    {{sl-progress-bar value=sessionProgress striped=true}}
  </small></div>
</h2>

<div class="well">
  {{#if isInInstructions}}
    {{word-span-instructions
        next="train"}}

  {{else if isInTraining}}
    {{word-span-trial
        words=trialWords
        save="processTrial"}}

  {{else if isInStarting}}
    {{word-span-start
        next="task"}}

  {{else if isInTasking}}
    {{word-span-trial
        words=trialWords
        save="processTrial"}}

  {{else if isInFinished}}
    {{word-span-finished
        score=score
        maxScore=maxScore
        span=span}}

  {{/if}}
</div>
