<p id="instructions">Type in your new sentence:</p>

<form {{action "sendSentence" on="submit"}}>
  <div {{bind-attr class='errors.text:has-error'}}>
    <span>{{errors.text}}</span>
    {{view focused-textarea value=text rows="3" cols="50"}}
  </div>
  {{#if errors.non_field_errors}}
    <div>
      <strong>Oops!</strong> {{errors.non_field_errors}}
    </div>
  {{/if}}
  {{input type='submit' value='Send'}}
</form>
