{{#page-header}}Explore trees{{#if currentUser.isStaff}} <span class="badge">staff</span>{{/if}}{{/page-header}}
{{#page-body}}
  {{#if (can 'read trees')}}
    <div class="row">
      <div class="col-xs-4">
        {{page-numbers
            currentPage=page
            totalPages=totalPages}}
      </div>
      <div class="col-xs-4">
        {{sl-select
            value=perPage
            disableSearch=true
            content=perPageOptions
            class="form-inline"}}
        Trees per page
      </div>
      <div class="col-xs-4">
        {{sl-select
            value=root_bucket
            disableSearch=true
            content=buckets
            optionLabelPath="label"
            optionValuePath="name"
            class="form-inline"}}
        Trees
      </div>
    </div>
    {{#unless model}}
      <h3>Nothing here yet!</h3>
      You can only see trees from texts you rewrote! Go {{link-to 'play' 'play'}} a little and this screen with fill up.
    {{else}}
      {{#each model as |tree|}}{{#link-to 'explore.tree' tree class="tree-card"}}
        <div class="row">
          <div class="col-sm-6">
            <p>{{h-pluralize tree.sentencesCount 'text'}} <span class="pull-right">#{{tree.id}}</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <blockquote>{{tree.root.text}}</blockquote>
          </div>
          <div class="col-sm-6">
            {{tree-graph tree=tree overview=true}}
          </div>
        </div>
      {{/link-to}}{{/each}}
      {{page-numbers
          currentPage=page
          totalPages=totalPages}}
    {{/unless}}
  {{else}}{{! can't read trees }}
    <h2>Oops!</h2>
    <p>You won't be able to see any trees until you finish the experiment. {{link-to 'Get back to it!' 'play'}}</p>
  {{/if}}{{! can read trees }}
{{/page-body}}
