{{#page-header}}Explore trees{{#if currentUser.isStaff}} <span class="badge">staff</span>{{/if}}{{/page-header}}
{{#page-body}}
  {{#if (can 'read trees')}}
    {{#unless model}}
      <h3>Nothing here yet!</h3>
      You can only see trees from sentences you rewrote! Go {{link-to 'play' 'play'}} a little and this screen with fill up.
    {{else}}
      {{#each model as |tree|}}{{#link-to 'explore.tree' tree class="tree-card"}}
        <div class="row">
          <div class="col-sm-6">
            <p>#{{tree.id}} <span class="pull-right">{{tree.sentencesCount}} sentences</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <blockquote>{{tree.root.text}}</blockquote>
          </div>
          <div class="col-sm-6">
            {{tree-graph tree=tree overview=true}}
          </div>
        </div>
      {{/link-to}}{{/each}}
    {{/unless}}
  {{else}}{{! can't read trees }}
    <h2>Oops!</h2>
    <p>You won't be able to see any trees until you finish the experiment. {{link-to 'Get back to it!' 'play'}}</p>
  {{/if}}{{! can read trees }}
{{/page-body}}
