{{#page-header back="explore"}}
  Detailed tree #{{model.id}}
{{/page-header}}
{{#page-body}}
  {{#if (can 'read trees' model)}}
    <div class="row">
      <div id="tree-graph" class="col-sm-6 well">
        <blockquote>{{model.root.text}}</blockquote>
        {{tree-graph
            tree=model
            hover="hoverSentence"
            select="setSelection"
            showLoading="loading"
            finishedLoading="finished"}}
        {{#if hovered}}
          {{sentence-card sentence=hovered}}
        {{/if}}
      </div>
      <div id="path-detail" class="col-sm-6">
        {{#if hasSelection}}
          {{#if selectionStart}}{{sentence-card sentence=selectionStart title="Selection start:" class="well"}}{{/if}}
          {{#if hasPath}}
            {{#if showPath}}
              <p><button class="btn btn-default" {{action "togglePath"}}>Collapse</button></p>
              {{#each selectionPath as |sentence|}}{{sentence-card sentence=sentence class="well"}}{{/each}}
            {{else}}
              <p><button class="btn btn-default" {{action "togglePath"}}>Expand</button></p>
            {{/if}}
          {{/if}}
          {{#if selectionEnd}}{{sentence-card sentence=selectionEnd title="Selection end:" class="well"}}{{/if}}
        {{/if}}
      </div>
    </div>

  {{else}}
    <h2>Oops!</h2>
    <p>You don't have access to this tree.</p>
    {{#if lifecycle.isInPlaying}}
      <p>You can only see trees you've participated in or created, so you could try {{link-to 'playing' 'play'}} a bit more and maybe you'll participate in this tree.</p>
    {{else}}{{! lifecycle not in playing }}
      <p>You won't be able to see any trees until you finish the experiment. {{link-to 'Get back to it!' 'play'}}</p>
    {{/if}}{{! lifecycle.isInPlaying }}
  {{/if}}
{{/page-body}}
