{{#page-header back="explore"}}
  Detailed tree #{{model.id}}
  <small>
    <blockquote>{{model.root.text}}</blockquote>
  </small>
{{/page-header}}
{{#page-body}}
  {{#if (can 'read trees' model)}}
    <div class="row">
      <div class="col-sm-6">
        {{tree-graph
            tree=model
            hover="hoverSentence"
            select="setSelection"
            showLoading="loading"
            finishedLoading="finished"}}
        {{#if hovered}}
          <div class="well">
            {{sentence-card sentence=hovered}}
          </div>
        {{/if}}
      </div>
      {{#if hasSelection}}
        <div class="col-sm-6">
          {{#if selectionStart}}{{sentence-card sentence=selectionStart title="Selection start:"}}{{/if}}
          {{#if hasPath}}
            {{#if showPath}}
              <p><button class="btn btn-default" {{action "togglePath"}}>Collapse</button></p>
              {{#each selectionPath as |sentence|}}{{sentence-card sentence=sentence}}{{/each}}
            {{else}}
              <p><button class="btn btn-default" {{action "togglePath"}}>Expand</button></p>
            {{/if}}
          {{/if}}
          {{#if selectionEnd}}{{sentence-card sentence=selectionEnd title="Selection end:"}}{{/if}}
        </div>
      {{/if}}
    </div>

  {{else}}
    <h2>Oops!</h2>
    <p>You don't have access to this tree.</p>
    {{#if lifecycle.isInPlaying}}
      <p>You can only see trees you've participated in or created, so you could try {{link-to 'playing' 'play'}} a bit more and maybe you'll participate in this tree.</p>
    {{else}}{{! lifecycle not in playing }}
      <p>You won't be able to see any trees until you finish the experiment. {{link-to 'Get back to it!' 'play'}}</p>
    {{/if}}{{! lifecycle.isInPlaying }}
  {{/if}}
{{/page-body}}
