<h2>Change password</h2>

<form>

  <div class="form-group {{if errors.old_password 'has-error'}}">
    <label for="inputOldPassword" class="control-label">Old password</label>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      {{input id="inputOldPassword" class="form-control" type='password' value=old_password disabled=isUploading placeholder="Your old password"}}
    </div>
    <span class="help-block">{{errors.old_password}}</span>
  </div>

  <div class="form-group {{if errors.new_password1 'has-error'}}">
    <label for="inputNewPassword1" class="control-label">New password</label>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      {{input id="inputNewPassword1" class="form-control" type='password' value=new_password1 disabled=isUploading placeholder="Elaborate password"}}
    </div>
    <span class="help-block">{{errors.new_password1}}</span>
  </div>

  <div class="form-group {{if errors.new_password2 'has-error'}}">
    <label for="inputNewPassword2" class="control-label">Confirm new password</label>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      {{input id="inputNewPassword2" class="form-control" type='password' value=new_password2 disabled=isUploading placeholder="Same old, same old"}}
    </div>
    <span class="help-block">{{errors.new_password2}}</span>
  </div>

  <div class="form-group {{if errors.non_field_errors 'has-error'}}">
    <span class="help-block">{{errors.non_field_errors}}</span>
    {{async-button action="upload" class="btn btn-primary" default="Update password" pending="Updating password..."}}
    {{#if justSaved}}<span class="label label-success">Password changed!</span>{{/if}}
  </div>

</form>
