<div class="row">
  <div class="col-xs-2 col-xs-offset-10 col-sm-1 col-sm-offset-11">

    <div class="icon-big">{{#link-to 'settings'}}<span class="glyphicon glyphicon-cog"></span>{{/link-to}}</div>

  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 center">

    <h1>Gistr</h1>
    <h3><small>A <strong {{bs-bind-tooltip content="Game With A Purpose"}}>GWAP</strong> on Interpretation</small></h3>

    <div class="greeting">
      {{#if session.isAuthenticated}}
        <p>Howdy, <strong>{{currentUser.username}}</strong></p>
      {{else}}
        {{link-to 'Sign in' 'login' class="btn btn-default"}}
        {{link-to 'Sign up' 'register' class="btn btn-primary"}}
      {{/if}}
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row center">

      <div class="col-xs-6 col-sm-3">
        {{link-to 'Play' 'play' class="btn-home btn btn-lg btn-success"}}
      </div>
      <div class="col-xs-6 col-sm-3">
        {{#link-to 'suggest' class="btn-home btn btn-lg btn-success"}}New {{#if currentUser.is_staff}}{{bs-badge content="staff"}}{{else}}{{bs-badge content=currentProfile.suggestion_credit}}{{/if}}{{/link-to}}
      </div>
      <div class="col-xs-6 col-sm-3">
        <a href="#" class="btn-home btn btn-lg btn-info" {{bs-bind-tooltip content="Nothing for now!"}}>Like</a>
      </div>
      <div class="col-xs-6 col-sm-3">
        {{link-to 'About' 'about' class="btn-home btn btn-lg btn-info"}}
      </div>

    </div>
  </div>
</div>
