{{document-title title="Home"}}

<div class="row">
  <div class="col-xs-9 col-xs-offset-2 col-sm-10 col-sm-offset-1">

    {{#if session.isAuthenticated}}
      {{#link-to 'profile' class="icon icon-big pull-right"}}<span class="glyphicon glyphicon-user"></span>{{/link-to}}
    {{/if}}

  </div>
</div>

{{#page-body class="center"}}
  <h1>Gistr</h1>
  <h2><small>A {{#sl-tooltip title="Game With a Purpose"}}<strong>GWAP</strong>{{/sl-tooltip}} on Interpretation</small></h2>

  <div class="greeting">
    {{#if session.isWorking}}
      <p>Loading...</p>
    {{else}}
      {{#if session.isAuthenticated}}
        <p>Howdy, <strong>{{currentUser.username}}</strong></p>
      {{else}}
        {{link-to 'Sign in' 'login' class="btn btn-default"}}
        {{link-to 'Sign up' 'register' class="btn btn-primary"}}
      {{/if}}
    {{/if}}
  </div>
{{/page-body}}

{{#page-body class="center"}}
  <div class="row">

    <div class="col-sm-2 col-sm-offset-2">
      {{link-to 'Play' 'play' class="btn-home btn btn-lg btn-success"}}
    </div>
    <div class="col-sm-4">
      {{#link-to 'suggest' class="btn-home btn btn-lg btn-success"}}New {{credit-badge}}{{/link-to}}
    </div>
    <div class="col-sm-2">
      {{link-to 'About' 'about' class="btn-home btn btn-lg btn-info"}}
    </div>

  </div>

  <div class="row">
    <div class="footer-ruler"></div>
    <a class="icon icon-med" href="https://twitter.com/gistrexp" title="Twitter">{{fa-icon "twitter"}}</a> <a class="icon icon-med" href="https://github.com/interpretation-experiment/gistr-app" title="GitHub">{{fa-icon "github"}}</a>
  </div>
{{/page-body}}
