<h2>Home</h2>

{{#if session.isAuthenticated}}
  <a href="#" {{action "logout"}}>Sign out</a>
{{else}}
  {{link-to 'Sign in' 'login'}}
  {{link-to 'Sign up' 'register'}}
{{/if}}

{{link-to 'Play' 'play'}}

{{link-to 'Suggest sentence' 'suggest'}}

<a href="#">Like</a>

{{link-to 'About' 'about'}}

{{link-to 'Settings' 'settings'}}
