<div class="row">
  <div class="col-xs-9 col-xs-offset-2 col-sm-10 col-sm-offset-1">

    {{#if session.isAuthenticated}}
      <div class="icon-big pull-right">{{#link-to 'profile'}}<span class="glyphicon glyphicon-user"></span>{{/link-to}}</div>
    {{/if}}

  </div>
</div>


{{#page-body class="center"}}
  <h1>Gistr</h1>
  <h3><small>A <strong {{bs-bind-tooltip content="Game With A Purpose"}}>GWAP</strong> on Interpretation</small></h3>

  <div class="greeting">
    {{#if session.isWorking}}
      <p>Loading...</p>
    {{else}}
      {{#if session.isAuthenticated}}
        <p>Howdy, <strong>{{currentUser.username}}</strong></p>
      {{else}}
        {{link-to 'Sign in' 'login' class="btn btn-default"}}
        {{link-to 'Sign up' 'register' class="btn btn-primary"}}
      {{/if}}
    {{/if}}
  </div>
{{/page-body}}

{{#page-body class="center"}}
  <div class="row">

    <div class="col-xs-6 col-sm-3">
      {{link-to 'Play' 'play' class="btn-home btn btn-lg btn-success"}}
    </div>
    <div class="col-xs-6 col-sm-3">
      {{#link-to 'suggest' class="btn-home btn btn-lg btn-success"}}New {{#if currentUser.isStaff}}{{bs-badge content="staff"}}{{else}}{{bs-badge content=currentProfile.suggestionCredit}}{{/if}}{{/link-to}}
    </div>
    <div class="col-xs-6 col-sm-3">
      <a href="#" class="btn-home btn btn-lg btn-info" {{bs-bind-tooltip content="Nothing for now!"}}>Like</a>
    </div>
    <div class="col-xs-6 col-sm-3">
      {{link-to 'About' 'about' class="btn-home btn btn-lg btn-info"}}
    </div>

  </div>
{{/page-body}}
