<h2 id="title">Gistr</h2>

{{#unless session.isAuthenticated}}
  {{link-to 'Sign in' 'login' id="login"}}
  {{link-to 'Sign up' 'register' id="register"}}
{{/unless}}

{{link-to 'Play' 'play.read' id="play"}}

{{link-to 'Suggest sentence' 'suggest' id="suggest"}}

<a id="like" href="#">Like</a>

{{link-to 'About' 'about' id="about"}}

{{link-to 'Settings' 'settings' id="settings"}}
