<h2 id="title">Gistr</h2>

{{#if hasNickname}}
  <p>Howdy, {{nickname}}</p>
{{else}}
  <p>Pick a nickname:</p>
  {{error}}
  <form {{action "pickUsername" on="submit"}}>
    {{view focused-textfield value=nickname}}
    <button type="submit">Save</button>
  </form>
{{/if}}

{{link-to 'Play' 'play' id="play"}}

{{link-to 'Suggest sentence' 'suggest' id="suggest"}}

<a id="like" href="#">Like</a>

{{link-to 'About' 'about' id="about"}}

{{link-to 'Settings' 'settings' id="settings"}}
