<h2 id="title">Gistr</h2>

<!-- TODO: test -->
{{#if hasNickname}}
  <p>Howdy, {{nickname}}</p>
  <button {{action 'clearNickname'}}>Change name</button>
{{else}}
  <p>Pick a nickname:</p>
  {{error}}
  <form {{action "setNickname" on="submit"}}>
    {{view focused-textfield value=nickname}}
    <button type="submit">Save</button>
  </form>
{{/if}}
<!-- up to here -->

{{link-to 'Play' 'play.read' id="play"}}

{{link-to 'Suggest sentence' 'suggest' id="suggest"}}

<a id="like" href="#">Like</a>

{{link-to 'About' 'about' id="about"}}

{{link-to 'Settings' 'settings' id="settings"}}
