<h2 id="title">Gistr</h2>

<!-- TODO: test -->
{{#if isAuthenticated}}
  <p>Howdy, {{user.username}}</p>
  <a href="#" {{action "logout"}}>Logout</a>
{{else}}
  {{#if isWorking}}
    <p>Logging in...</p>
  {{else}}
    <p>Who are you?</p>
    {{error}}
    <form {{action "login" on="submit"}}>
      {{view focused-textfield value=username}}
      {{input type="password" value=password}}
      <button type="submit">Login</button>
    </form>
  {{/if}}
{{/if}}
<!-- up to here -->

{{link-to 'Play' 'play.read' id="play"}}

{{link-to 'Suggest sentence' 'suggest' id="suggest"}}

<a id="like" href="#">Like</a>

{{link-to 'About' 'about' id="about"}}

{{link-to 'Settings' 'settings' id="settings"}}
