{{document-title title="Home"}}

{{#if showIntro}}
  {{#if lifecycle.isInExp}}
    {{computed-intro-js
        getSteps=expIntroSteps
        start-if=true
        on-exit="expIntroDone"
        on-complete="expIntroDone"}}
  {{else if lifecycle.isInPlaying}}
    {{computed-intro-js
        getSteps=playIntroSteps
        start-if=true
        on-exit="playIntroDone"
        on-complete="playIntroDone"}}
  {{/if}}{{! lifecycle state }}
{{/if}}{{! showIntro }}

<div class="row">
  <div class="col-xs-9 col-xs-offset-2 col-sm-10 col-sm-offset-1">

    {{#if session.isAuthenticated}}
      {{#link-to 'profile' class="avatar pull-right" id="profile"}}
          {{gravatar-image
              email=currentUser.email
              title="Profile"
              alt="Avatar"
              defaultImage="retro"
              class="img-circle"
              secure=false
              size=40}}
      {{/link-to}}
    {{/if}}

  </div>
</div>

{{#page-body class="center"}}
  <div id="title">
    <h1>Gistr</h1>
    <h2><small>A {{#sl-tooltip title="Game With a Purpose"}}<strong>GWAP</strong>{{/sl-tooltip}} on Interpretation{{#if (can 'read about')}}. {{link-to 'Learn more' 'about'}}.{{/if}}</small></h2>
  </div>

  <div class="greeting">

    {{#if session.isWorking}}

      <p>Loading...</p>

    {{else}}

      {{#if session.isAuthenticated}}
        <p>Howdy, <strong>{{currentUser.username}}</strong></p>
      {{/if}}{{! session.isAuthenticated }}

      {{#unless (can 'read about')}}
        <div id="pass">
          <h2>Want to know what this is about?</h2>
          {{#if session.isAuthenticated}}
            <h2>{{link-to 'Pass the experiment' 'play' class="btn btn-primary btn-lg"}}</h2>
          {{else}}
            <h2>{{link-to 'Pass the experiment' 'register' class="btn btn-primary btn-lg"}}</h2>
            <p>And <a href={{prolificStudyUrl}}>get paid for it</a>!</p>
            <h2>Or {{link-to 'Sign in' 'login'}} if you've already started</h2>
          {{/if}}{{! session.isAuthenticated}}
        </div>
      {{/unless}}{{! can read about }}

    {{/if}}{{! session.isWorking }}
  </div>
{{/page-body}}

{{#page-body class="center"}}
  {{#if (can 'read about')}}
    <div class="row">

      <div class="col-sm-2 col-sm-offset-2">
        {{link-to 'Play' 'play' class="btn-home btn btn-lg btn-success" id="play"}}
      </div>
      <div class="col-sm-2">
        {{#link-to 'suggest' class="btn-home btn btn-lg btn-info" id="new"}}New {{credit-badge}}{{/link-to}}
      </div>
      <div class="col-sm-2">
        {{link-to 'Explore' 'explore' class="btn-home btn btn-lg btn-warning" id="explore"}}
      </div>
      <div class="col-sm-2">
        {{link-to 'Reports' 'reports' class="btn-home btn btn-lg btn-primary" id="reports"}}
      </div>

    </div>
  {{/if}}{{! can read about }}

  <div class="row footer">
    <div id="about-gistr">
      {{#sl-tooltip title="Email the developers"}}<a class="icon" href="mailto:sl@mehho.net" title="Email the developers">{{fa-icon "envelope"}}</a>{{/sl-tooltip}}
      {{#if session.isAuthenticated}}
        {{#if (can 'read about')}}
          {{#sl-tooltip title="About Gistr"}}{{#link-to 'about' class="icon icon-med"}}{{fa-icon "info-circle"}}{{/link-to}}{{/sl-tooltip}}
          {{#sl-tooltip title="Twitter"}}<a class="icon" href="https://twitter.com/gistrexp" title="Twitter">{{fa-icon "twitter"}}</a>{{/sl-tooltip}}
          {{#sl-tooltip title="GitHub"}}<a class="icon" href="https://github.com/interpretation-experiment/gistr-app" title="GitHub">{{fa-icon "github"}}</a>{{/sl-tooltip}}
        {{/if}}{{! can read about }}
        {{#sl-tooltip title="Play intro"}}<a href="#" class="icon icon-med" {{action "showIntro"}}>{{fa-icon "question-circle"}}</a>{{/sl-tooltip}}
      {{/if}}{{! session.isAuthenticated }}
    </div>
  </div>
{{/page-body}}
