{{link-to 'Home' 'index' id="home"}}

<h2>Sign in</h2>

{{#if session.isAuthenticated}}
  <p>Howdy, {{session.username}}</p>
{{else}}
  {{#if session.isWorking}}
    <p>Logging you in...</p>
  {{else}}
    <p>Who are you?</p>
    <form {{action "login" on="submit"}}>
      <div {{bind-attr class='errors.username:has-error'}}>
        <span>{{errors.username}}</span>
        {{view focused-textfield value=username placeholder='Username'}}
      </div>
      <div {{bind-attr class='errors.password:has-error'}}>
        <span>{{errors.password}}</span>
        {{input value=password type='password' placeholder='Password'}}
      </div>

      {{#if errors.non_field_errors}}
        <div>
          <strong>Oops!</strong> {{errors.non_field_errors}}
        </div>
      {{/if}}

      {{input type='submit' value='Log in'}}
    </form>
  {{/if}}
{{/if}}
