{{document-title title="Sign in"}}
{{page-header title="Sign in"}}

{{#page-body}}
  {{#if session.isAuthenticated}}
    <p>You're signed in as <strong>{{currentUser.username}}</strong>.</p>
    {{async-button action="logout" class="btn btn-primary" default="Sign out" pending="Signing you out..."}}
  {{else}}
    <div class="row">
      <div class="col-sm-6 col-sm-offset-2">
        {{#sl-alert theme="warning"}}No account yet? {{link-to 'Sign up' 'register'}}!{{/sl-alert}}
      </div>
    </div>

    <form class="form-horizontal">

      <div class="form-group {{if errors.username 'has-error'}}">
        <label for="inputUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            {{focused-input id="inputUsername" class="form-control" value=username disabled=session.isWorking placeholder='e.g. joey'}}
          </div>
          <span class="help-block">{{errors.username}}</span>
        </div>
      </div>

      <div class="form-group {{if errors.password 'has-error'}}">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            {{input id="inputPassword" class="form-control" type='password' value=password disabled=session.isWorking placeholder='Elaborate password'}}
          </div>
          <span class="help-block">{{errors.password}}</span>
        </div>
      </div>

      <div class="form-group {{if errors.non_field_errors 'has-error'}}">
        <div class="col-sm-offset-2 col-sm-2">
          <span class="help-block">{{errors.non_field_errors}}</span>
          {{#if attemptedTransition}}
            {{async-button action="login" class="btn btn-default" default="Sign in and Play" pending="Signing you in..."}}
          {{else}}
            {{async-button action="login" class="btn btn-default" default="Sign in" pending="Signing you in..."}}
          {{/if}}
        </div>
      </div>

    </form>

  {{/if}}
{{/page-body}}
