<p>Untouched trees: {{untouchedTrees.length}} / sentences sent: {{count}}</p>

{{#if isInInstructions}}
  <p>Task instructions: {{task.instructions}}</p>
  <button {{action "read"}}>Continue</button>
{{/if}}

{{#if isInReading}}
  <p>Sentence instructions: {{currentSentence.instructions}}</p>
  <blockquote>Sentence text: {{currentSentence.text}}</blockquote>
  <p>Time left: {{readTime}} seconds</p>
  <button {{action "hold"}}>Continue</button>
{{/if}}

{{#if isInHolding}}
  <p>Hold task.</p>
  <button {{action "write"}}>Continue</button>
{{/if}}

{{#if isInWriting}}
  <form {{action "uploadSentence" on="submit"}}>
    <div {{bind-attr class='errors.text:has-error'}}>
      <span>{{errors.text}}</span>
      {{view focused-textarea value=text rows="3" cols="50" disabled=isUploading}}
    </div>
    {{#if errors.non_field_errors}}
      <div>
        <strong>Oops!</strong> {{errors.non_field_errors}}
      </div>
    {{/if}}
    {{input type='submit' value='Continue' disabled=isUploading}}
  </form>
  <p>Time left: {{writeTime}} seconds</p>
{{/if}}

{{#if isInTimedout}}
  <p>Timed out.</p>
  <button {{action "read"}}>Continue</button>
{{/if}}

{{#if isInVerified}}
  <p>Verified.</p>
  <button {{action "read"}}>Continue</button>
{{/if}}

{{#if isInEmpty}}
  <p>Oops! You've participated in all the available trees.</p>
  <p>Maybe you have credit to {{link-to 'suggest' 'suggest'}} new sentences?</p>
{{/if}}

{{#if isInFinished}}
  <p>Done.</p>
{{/if}}
