<p>Completed count: {{count}}</p>

{{#if stateIsInstructions}}
  <p>Task instructions: {{task.instructions}}</p>
  <button {{action "read"}}>Continue</button>
{{/if}}

{{#if stateIsReading}}
  <p>Sentence instructions: {{instructions}}</p>
  <blockquote>Sentence text: {{text}}</blockquote>
  <p>Time left: {{readTime}} seconds</p>
  <button {{action "hold"}}>Continue</button>
{{/if}}

{{#if stateIsHolding}}
  <p>Hold task.</p>
  <button {{action "write"}}>Continue</button>
{{/if}}

{{#if stateIsWriting}}
  <form {{action "upload" on="submit"}}>
    <div {{bind-attr class='errors.text:has-error'}}>
      <span>{{errors.text}}</span>
      {{view focused-textarea value=text rows="3" cols="50"}}
    </div>
    {{#if errors.non_field_errors}}
      <div>
        <strong>Oops!</strong> {{errors.non_field_errors}}
      </div>
    {{/if}}
    {{input type='submit' value='Continue'}}
  </form>
  <p>Time left: {{writeTime}} seconds</p>
{{/if}}

{{#if stateIsTimedout}}
  <p>Timed out.</p>
  <button {{action "read"}}>Continue</button>
{{/if}}

{{#if stateIsVerified}}
  <p>Verified.</p>
  <button {{action "read"}}>Continue</button>
{{/if}}

{{#if stateIsFinished}}
  <p>Done.</p>
{{/if}}
