{{document-title title="Play"}}
{{#page-header}}
  <span id="exp-play-title">{{#if lifecycle.isInExp}}Experiment{{#if lifecycle.isInExpTraining}} &mdash; training{{/if}}{{else}}Play <small><span id="available-sentences">available sentences <span class="badge">{{currentProfile.availableTreesBucket}}</span></span> | <span id="next-credit">next credit in <span class="badge">{{currentProfile.nextCreditIn}}</span> sentences</span></small>{{/if}}</span>
{{/page-header}}

{{#page-body}}
  {{#if isInInstructions}}
    {{play-instructions
        doExpIntro=doExpIntro
        doPlayIntro=doPlayIntro
        expIntroDone="expIntroDone"
        playIntroDone="playIntroDone"
        next="task.read"}}

  {{else if isInTaskReading}}
    {{play-read
        sentence=currentSentence
        duration=readDuration
        next="task.distract"
        timeout="task.distract"}}

  {{else if isInTaskDistracting}}
    {{play-distract
        next="task.write.user"}}

  {{else if isInTaskWritingUser}}
    {{play-write
        minTokens=minTokens
        parentSentence=currentSentence
        duration=writeDuration
        streak=streak
        next="processWriting"
        timeout="task.timeout"}}

  {{else if isInTaskWritingProcessing}}
    <h3>Loading...</h3>

  {{else if isInTaskTimedout}}
    {{play-timeout
        next="task.read"}}

  {{else if isInInfo}}
    {{play-inform
        events=events
        lastSentence=currentSentence
        instruct="instruct"
        newTrial="task.read"}}

  {{/if}}
{{/page-body}}
