{{document-title title="Play"}}
{{#page-header}}
  {{#if lifecycle.isInExp}}Experiment{{#if lifecycle.isInExpTraining}} &mdash; training{{/if}}{{else}}Play{{/if}} <small>available sentences <span class="badge">{{currentProfile.availableTreesBucket}}</span> | next credit in <span class="badge">{{currentProfile.nextCreditIn}}</span> sentences</small>
{{/page-header}}

{{#page-body}}
  {{#if isInInstructions}}
    {{play-instructions
        dontCatchEnter=doIntro
        next="task.read"}}

  {{else if isInTaskReading}}
    {{play-read
        dontCatchEnter=doIntro
        sentence=currentSentence
        duration=readDuration
        next="task.distract"
        timeout="task.distract"}}

  {{else if isInTaskDistracting}}
    {{play-distract
        dontCatchEnter=doIntro
        next="task.write.user"}}

  {{else if isInTaskWritingUser}}
    {{play-write
        dontCatchEnter=doIntro
        minTokens=minTokens
        parentSentence=currentSentence
        duration=writeDuration
        streak=streak
        next="processWriting"
        timeout="task.timeout"}}

  {{else if isInTaskWritingProcessing}}
    <h3>Loading...</h3>

  {{else if isInTaskTimedout}}
    {{play-timeout
        dontCatchEnter=doIntro
        next="task.read"}}

  {{else if isInInfo}}
    {{play-inform
        dontCatchEnter=doIntro
        events=events
        lastSentence=currentSentence
        newTrial="task.read"}}

  {{/if}}
{{/page-body}}
