{{document-title title="Play"}}
{{#page-header}}
  <div class="row">
    {{#if lifecycle.isInPlaying}}
      <div class="col-sm-12"><span id="exp-play-title">Play <small><span id="available-sentences">available texts <span class="badge">{{currentProfile.availableTreesBucket}}</span></span> | <span id="next-credit">next credit in <span class="badge">{{currentProfile.nextCreditIn}}</span> texts</span></small></span></div>
    {{else}}{{! lifecycle is not in playing }}
      <div class="col-sm-6"><span id="exp-play-title">Experiment{{#if lifecycle.isInExpTraining}} &mdash; training{{/if}}</span></div>
      <div class="col-sm-6"><small id="exp-progress">
        {{#if lifecycle.isInExpTraining}}
          Completed {{h-pluralize streak 'training text'}} out of {{shaping.trainingWork}}
          {{sl-progress-bar value=trainingProgress striped=true}}
        {{else}}{{! lifecycle is in exp.doing }}
          Completed {{h-pluralize currentProfile.reformulationsCount 'text'}} out of {{shaping.experimentWork}}
          {{sl-progress-bar value=expProgress striped=true title="There's a pause every 10 texts"}}
        {{/if}}
      </small></div>
    {{/if}}{{! lifecycle is in playing }}
  </div>
{{/page-header}}

{{#page-body}}
  {{#if isInInstructions}}
    {{play-instructions
        doExpIntro=doExpIntro
        doPlayIntro=doPlayIntro
        expIntroDone="expIntroDone"
        playIntroDone="playIntroDone"
        next="task.read"}}

  {{else if isInTaskReading}}
    {{play-read
        sentence=currentSentence
        next="task.distract"}}

  {{else if isInTaskDistracting}}
    {{play-distract
        next="task.write.user"}}

  {{else if isInTaskWritingUser}}
    {{play-write
        parentSentence=currentSentence
        streak=streak
        readTimings=readTimings
        next="processWriting"
        timeout="task.timeout"}}

  {{else if isInTaskWritingProcessing}}
    <h3>Loading...</h3>

  {{else if isInTaskTimedout}}
    {{play-timeout
        next="task.read"}}

  {{else if isInInfo}}
    {{play-inform
        events=events
        lastSentence=currentSentence
        lastSentences=lastSentences
        instruct="instruct"
        newTrial="task.read"}}

  {{/if}}
{{/page-body}}
