{{document-title title="Profile"}}
{{#page-header}}
  Profile <small>signed in as <strong>{{currentUser.username}}</strong> &mdash; {{async-button action="logout" class="btn btn-default" default="Sign out" pending="Signing you out..."}}</small>
{{/page-header}}

{{#page-body}}
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">{{activeSubRoute.label}}</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            {{#each subRoutes as |route|}}
              <li class="{{if route.active 'active'}}"><a href="#" {{action "transitionTo" route}}>{{route.label}}</a></li>
            {{/each}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    {{outlet}}
  </div>
{{/page-body}}
