{{page-header title="Settings"}}

{{#page-body}}
  <h3>Credentials</h3>
  {{#if session.isAuthenticated}}
    <p>Signed in as <strong>{{currentUser.username}}</strong>.</p>
    <button class="btn btn-primary" {{bind-attr disabled=session.isWorking}} {{action "logout"}}>{{#if session.isWorking}}Signing you out{{else}}Sign out{{/if}}</button>
  {{else}}
    <p>No settings for now.</p>
    {{link-to 'Sign in' 'login' class="btn btn-default"}}
    {{link-to 'Sign up' 'register' class="btn btn-primary"}}
  {{/if}}
{{/page-body}}
