<div class="row">

  <div class="col-xs-2 col-sm-1">
    <div class="pull-right icon-big">{{#link-to 'index'}}<span class="glyphicon glyphicon-menu-left"></span>{{/link-to}}</div>
  </div>

  <div class="col-xs-9 col-sm-10">
    <h2 class="page-title">Settings</h2>
  </div>

</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <h3>Credentials</h3>
    {{#if session.isAuthenticated}}
      <p>Signed in as <strong>{{currentUser.username}}</strong>.</p>
      <button class="btn btn-primary" {{bind-attr disabled=session.isWorking}} {{action "logout"}}>{{#if session.isWorking}}Signing you out{{else}}Sign out{{/if}}</button>
    {{else}}
      <p>No settings for now.</p>
      {{link-to 'Sign in' 'login' class="btn btn-default"}}
      {{link-to 'Sign up' 'register' class="btn btn-primary"}}
    {{/if}}

  </div>
</div>
