{{document-title title="New"}}
{{#page-header}}
  Suggest new sentence <small>credits {{credit-badge}}</small>
{{/page-header}}

{{#page-body}}
  {{#if isInSuggesting}}
    {{suggest-write next="verify"}}
  {{else if isInVerified}}
    <p>That's recorded.</p>

    {{#if currentUser.isStaff}}
      <button class="btn btn-default" {{action 'suggest'}}>Suggest again</button>
    {{else}}

      {{#if (can 'create sentence')}}
        <button class="btn btn-default" {{action 'suggest'}}>Suggest again {{credit-badge}}</button>
      {{else}}
        <p>You have no credit left to suggest new sentences! Interpret a few sentences to get more credit.</p>
      {{/if}}

    {{/if}}

    {{link-to 'Play' 'play' class="btn btn-primary"}}
  {{/if}}
{{/page-body}}
