{{#page-header}}
  Suggest new sentence <small>credits {{#if currentUser.isStaff}}{{bs-badge content="staff"}}{{else}}{{bs-badge content=currentProfile.suggestionCredit}}{{/if}}</small>
{{/page-header}}

{{#page-body}}
  {{#if isInSuggesting}}
    {{#if canSuggest}}

      <form {{action "uploadSentence" on="submit"}}>

        <div {{bind-attr class=':form-group errors.text:has-error'}}>
          <label for="inputText" class="control-label">Type in your new sentence:</label>
          {{view focused-textarea id="inputText" class="form-control" value=text rows="3" cols="50" disabled=isUploading}}
          <span class="help-block">{{errors.text}}</span>
        </div>

        <div {{bind-attr class=':form-group errors.non_field_errors:has-error'}}>
          <span class="help-block">{{errors.non_field_errors}}</span>
          {{active-input type='submit' class="btn btn-primary" active=isUploading activeValue="Uploading..." inactiveValue="Continue"}}
        </div>

      </form>

    {{else}}

      <p>You have no credit left to suggest new sentences! {{link-to 'Interpret' 'play'}} a few sentences to get more credit.</p>

    {{/if}}
  {{/if}}

  {{#if isInVerified}}

    <p>That's recorded.</p>

    {{#if currentUser.isStaff}}
      <button class="btn btn-default" {{action 'suggest'}}>Suggest again</button>
    {{else}}

      {{#if canSuggest}}
        <button class="btn btn-default" {{action 'suggest'}}>Suggest again {{bs-badge content=currentProfile.suggestionCredit}}</button>
      {{else}}
        <p>You have no credit left to suggest new sentences! Interpret a few sentences to get more credit.</p>
      {{/if}}

    {{/if}}

    {{link-to 'Play' 'play' class="btn btn-primary"}}

  {{/if}}
{{/page-body}}
